.main
  %table.table.table-striped.table-hover
    - id_lists.each do |id_list|
      %tr
        %td
          = render partial: "/words/good", locals: {id_list: id_list}
          %br
          = link_to '詳細ページ', word_path(id_list.join('-'))
        %td
        - id_list.reverse.each do |id|
          %td
            - word = Word.find_by_id id
            - next if word.blank?
            = image_tag word.avatar.url(:medium)
            %br
            = word.text
